<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>M & M 2021-08-28.</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="static/css/style.css" rel="stylesheet"></link>
  <link rel="stylesheet" href="/vegas/vegas.min.css">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
  <div id="bg"></div>

  <div id="page">
	  
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a class="navbar-brand" href="/">M & M 2021-08-28</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/program">Program</a>
          <a class="nav-item nav-link active" href="#">Dresscode</a>
          <a class="nav-item nav-link" href="/children">Barn</a>
          <a class="nav-item nav-link" href="/directions">Vägbeskrivning</a>
        </div>
      </div>
    </nav>

    <!--<div class="frame">
      <div class="text-container">-->
        <div class="container">
        <div class="row top-buffer">
          <div class="col-md-6 offset-md-4" style="background-color: rgba(19, 17, 17, 0.678); ">
            <!--<div class="frame-background">-->
              <!--<div class="celtic-frame">-->
                <p>Vi vill gärna se våra gäster klädda i historiska vikingakläder, alternativt linnekläder.</p>
              <!--</div>-->
            <!--</div>-->
          </div>
          <!--<div class="col">
            <p>Vi vill gärna se våra gäster klädda i historiska vikingakläder, alternativt linnekläder.</p>
          </div>-->
          <div class="w-100"></div>
        </div>
      </div>
      <!--</div>
    </div>-->
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="/vegas/vegas.min.js"></script>
  <script type="text/javascript">
    var images = [
      {src: "static/images/dresscode.jpg"}
    ];
    $("#bg, body").vegas({
      delay: 4000,
      timer: false,
      preload: true,
      firstTransitionDuration: 'auto',
      align: 'center',
      slidesToKeep: 3,
      slides: images
    });
  </script>
  
</body>
</html>