<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>M & M 2021-08-28.</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="static/css/style.css" rel="stylesheet"></link>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
  <div class="bg bg-gifts"></div>

  <div id="page">
	  
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a class="navbar-brand" href="/">M & M 2021-08-28</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/program">Program</a>
          <a class="nav-item nav-link" href="/osa">OSA</a>
          <a class="nav-item nav-link" href="/dresscode">Dresscode</a>
          <a class="nav-item nav-link" href="/children">Barn</a>
          <a class="nav-item nav-link active" href="#">Presenter</a>
          <a class="nav-item nav-link" href="/food">Mat</a>
          <a class="nav-item nav-link" href="/directions">Vägbeskrivning</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row top-buffer">
        <div class="col-md-6 offset-md-4">
          <div style="background-color: rgba(0, 0, 0, 0.767); padding: 8px;">
            <p class="center-align">Den bästa viktigaste gåvan ni kan ge oss är att närvara på vår stora dag/fest. Vill ni ändå ge något kan ni bidra med swishsilver till ett fint vikingaskepp som vi skall göra vår bröllopsplundring med.</p>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <ul>
        <li><a href="#" onclick="return false;">Marcus 070 594 47 88</a></li>
        <li><a href="#" onclick="return false;">Margarita 073 629 29 87</a></li>
        <li><a href="mailto:mm20210828@gmail.com">mm20210828@gmail.com</a></li>
      </ul>
    </footer>

  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="../static/js/common.js" type="text/javascript"></script>
  
</body>
</html>